$blue: #006198;
$red: #8c2a2a;
$yellow: #dbb300;
$brown: #d7ccb6;
$light-brown: #eae6dc;
$black: #333333;
$gray: #5f6367;
$light-gray: #f7f7f7;
$white: #ffffff;
$twitter: #00aced;
$facebook: #305097;
$green: #33FF66;