h1 タスクの編集

.nav.justify-content-end
  = link_to '一覧', tasks_path, class: 'nav-link'

= render partial: 'form', locals: { task: @task }
// ここ調べる render partial: 'レンダリングするところ', locals ( このlocalsはどういう意味で使ってるの？ )