.navbar {
    background-color: rgb(248, 224, 224);
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    height: 77px;

    &__heading {
        padding: 6px 0;
        font-size: 12px;
        background: #eae6dc;

        &__contents {
            width: 960px;
            margin: 0 auto;
        }
    }

    &__contents {
        @include flex-between;

        width: 960px;
        height: 56px;
        margin: 0 auto;

        @include medium {
            width: 600px;
        }

        @include small {
            justify-content: space-around;
            width: calc(100% - 40px);
            height: 45px;
            padding: 0 20px;
        }
    }

    &__logo {
        font-size: 24px;

        @include small {
            font-size: 18px;
        }
    }

    &__ttl {
        @include line-clamp(1);

        font-size: 16px;
    }

    &__nav {
        display: flex;
        align-items: center;

        @include small {
            display: none;
        }

        &__item {
            margin-left: 32px;
        }
    }

    &--pc {
        @include small {
            display: none;
        }
    }

    &--sp {
        display: none;

        @include small {
            display: block;
        }
    }

    i {
        font-size: 20px;
    }
}